<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<meta name="author" content="Dan Blumenfeld">
<meta name="description" content="{{description}}">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
<title>Dan Blumenfeld - {{title}}</title>

<!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="/dist/css/bootstrap.min.css" />

<!-- Global styles -->
<link rel="stylesheet" href="/css/global.css" />