<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
      <meta name="author" content="Dan Blumenfeld">
      <meta name="description" content="{{description}}">
      <link rel="icon" href="/assets/images/favicons/favicon.ico">
      <title>{% block title %}Dan Blumenfeld - {{title}}{% endblock %}</title>
      <link rel="stylesheet" href="/css/global.css" />
    </head>
    <body>     
      <header>
        <div>
          <h3><a href="/index">Dan Blumenfeld</a></h3>
          <nav>
            <a href="/blog">Blog</a>
            <a href="/nts">NTS</a>
            <a href="/cv">CV</a>
          </nav>
        </div>
      </header>
      <main>       
        {% block main %}{{ content | safe }}{% endblock %}                          
      </main>
      <footer>
        <p>Clumsily nailed together with&nbsp;<a href="https://www.11ty.dev/">Eleventy</a> and a text editor.</p>                
        <p>
          <img src="https://img.icons8.com/ios-filled/20/000000/email.png" alt="Email Icon">
          <a href="mailto:dan@danieljblumenfeld.com">dan@danieljblumenfeld.com</a>
          <img src="https://img.icons8.com/ios-filled/20/0077b5/linkedin.png" alt="LinkedIn Icon">
          <a href="https://www.linkedin.com/in/danieljblumenfeld/" target="_blank" rel="nofollow">LinkedIn</a>
          <img src="https://img.icons8.com/ios-filled/20/000000/github.png" alt="GitHub Icon">
          <a href="https://github.com/DanBlumenfeld" target="_blank" rel="nofollow">GitHub</a>
        </p>
        <p>©<span id="current-year"></span>Dan Blumenfeld. All rights reserved.<a href="/privacy-policy">Privacy Policy</a></p>
      </footer>

      <!-- Keep copyright up to date (at least according to the viewer's browser) -->
      <script>
        document.getElementById("current-year").textContent = new Date().getFullYear();
      </script>

    </body>
</html>