{% extends "layouts/base.njk" %}

{% block title %}Dan Blumenfeld - Blog - {{ title }}{% endblock %}

{% block main %}
<article class="blog-article">
    {{ content | safe }}
</article>
{% endblock %}

