---
layout: layouts/base.html
title: "Blog"
eleventyImport:
  collections: ["blogcategories"]
pagination:
  data: collections.blog
  size: 10
  alias: posts
  reverse: true
---

<h2>Blog Archive</h2>
<p>
Categories:&nbsp;{&nbsp;
{%- for blogcategory in collections.blogcategories -%}
    <a href="/blog/categories/{{ blogcategory | slugify }}/index.html">{{ blogcategory }}</a>&nbsp;
{%- endfor -%}
}</p>
<p><a href="/blog/feed.xml">RSS Feed</a></p>
<hr/>
<h3>Posts</h3>
{% for post in posts %}
    <p><strong><a href="{{ post.url }}">{{ post.data.title }}</a></strong> - {{ post.date | compactDate }}</p>
    <small>
    {% if post.data.excerpt %}
        {{ post.data.excerpt }}
    {% else %}
        {% excerpt post %}
    {% endif %}
    </small>
    <br/>
    <br/>
{% endfor %}

<p>
{% if pagination.href.previous %}
<a href=" {{ pagination.href.previous }}">&lt;&lt;&lt; - Previous</a>
{% endif %} 
{% if pagination.href.previous and pagination.href.next  %}
/ 
{% endif %}
{% if pagination.href.next %}
<a href=" {{ pagination.href.next }}">Next - >>></a>
{% endif %}
</p>