---
layout: layouts/base.html
title: "Notes To Self"
eleventyImport:
  collections: ["ntscategories"]
pagination:
  data: collections.nts
  size: 10
  alias: ntses
  reverse: true
---

<h2>Notes To Self</h2>
<p>
Categories:&nbsp;{&nbsp;
{%- for ntscategory in collections.ntscategories -%}
    <a href="/nts/categories/{{ ntscategory | slugify }}/index.html">{{ ntscategory }}</a>&nbsp;
{%- endfor -%}
}</p>
<p><a href="/nts/feed.xml">RSS Feed</a></p>
<hr/>
{% for nts in ntses %}
    <p><strong><a href="{{ nts.url }}">{{ nts.data.title }}</a></strong></p>
    <small>
    {% if nts.data.excerpt %}
        {{ nts.data.excerpt }}
    {% else %}
        {% excerpt nts %}
    {% endif %}
    </small>
    <br/>
    <br/>
{% endfor %}

<p>
{% if pagination.href.previous %}
<a href=" {{ pagination.href.previous }}">&lt;&lt;&lt; - Previous</a>
{% endif %} 
{% if pagination.href.previous and pagination.href.next  %}
/ 
{% endif %}
{% if pagination.href.next %}
<a href=" {{ pagination.href.next }}">Next - >>></a>
{% endif %}
</p>